*.iml
.idea/
target/
*.zip
*.exe
.logs/
*.xlsx
bin/
obj/
.vs/
packages/
*.nupkg

# ReSharper files
*.DotSettings.user
*.bat
*.txt
*.user
groupbuy-ui-tests
.gradle
gradle
*.gradle
build
JDI/gradlew
JDI/jdi-commons/gradlew
JDI/jdi-matchers/gradlew
JDI/jdi-uitest-core/gradlew
JDI/jdi-uitest-web/gradlew
gradlew
Tests/jdi-uitest-webtests/out/
Tests/jdi-uitest-web-examples/out/
JDI/jdi-uitest-web/out/
JDI/jdi-uitest-core/out/
JDI/jdi-commons/out/
JDI/jdi-matchers/out/
