*.iml
.idea/
target/
*.zip
*.exe
.logs/
*.xlsx
bin/
obj/
.vs/
packages/
*.nupkg

# ReSharper files
*.DotSettings.user
*.bat
*.txt
*.user
groupbuy-ui-tests
gradle
build
JDI/gradlew
JDI/jdi-commons/gradlew
JDI/jdi-matchers/gradlew
JDI/jdi-uitest-core/gradlew
JDI/jdi-uitest-web/gradlew
gradlew
Tests/jdi-uitest-webtests/out/
Tests/jdi-uitest-web-examples/out/
JDI/jdi-uitest-web/out/
JDI/jdi-uitest-core/out/
JDI/jdi-commons/out/
JDI/jdi-matchers/out/
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/4.4/taskHistory/taskHistory.lock
.gradle/4.4/taskHistory/taskHistory.bin
.gradle/4.4/fileHashes/resourceHashesCache.bin
.gradle/4.4/fileHashes/fileHashes.lock
.gradle/4.4/fileHashes/fileHashes.bin
.gradle/4.4/fileContent/fileContent.lock
.gradle/4.4/fileContent/annotation-processors.bin
.gradle/4.4/fileChanges/last-build.bin
JDI/jdi-commons/.gradle/buildOutputCleanup/cache.properties.lock
JDI/jdi-commons/.gradle/buildOutputCleanup/cache.properties
JDI/jdi-commons/.gradle/buildOutputCleanup/built.bin
JDI/jdi-commons/.gradle/3.4.1/taskHistory/taskHistory.lock
JDI/jdi-commons/.gradle/3.4.1/taskHistory/taskHistory.bin
JDI/jdi-commons/.gradle/3.4.1/taskHistory/fileSnapshots.bin
JDI/jdi-commons/.gradle/3.4.1/taskHistory/fileHashes.bin
JDI/jdi-commons/.gradle/3.4.1/file-changes/last-build.bin
JDI/jdi-matchers/.gradle/buildOutputCleanup/cache.properties.lock
JDI/jdi-matchers/.gradle/buildOutputCleanup/cache.properties
JDI/jdi-matchers/.gradle/buildOutputCleanup/built.bin
JDI/jdi-matchers/.gradle/3.4.1/taskHistory/taskHistory.lock
JDI/jdi-matchers/.gradle/3.4.1/taskHistory/taskHistory.bin
JDI/jdi-matchers/.gradle/3.4.1/taskHistory/fileSnapshots.bin
JDI/jdi-matchers/.gradle/3.4.1/taskHistory/fileHashes.bin
JDI/jdi-matchers/.gradle/3.4.1/file-changes/last-build.bin
JDI/jdi-uitest-core/.gradle/buildOutputCleanup/cache.properties.lock
JDI/jdi-uitest-core/.gradle/buildOutputCleanup/cache.properties
JDI/jdi-uitest-core/.gradle/buildOutputCleanup/built.bin
JDI/jdi-uitest-core/.gradle/3.4.1/taskHistory/taskHistory.lock
JDI/jdi-uitest-core/.gradle/3.4.1/taskHistory/taskHistory.bin
JDI/jdi-uitest-core/.gradle/3.4.1/taskHistory/fileSnapshots.bin
JDI/jdi-uitest-core/.gradle/3.4.1/taskHistory/fileHashes.bin
JDI/jdi-uitest-core/.gradle/3.4.1/file-changes/last-build.bin
JDI/jdi-uitest-web/.gradle/buildOutputCleanup/cache.properties.lock
JDI/jdi-uitest-web/.gradle/buildOutputCleanup/cache.properties
JDI/jdi-uitest-web/.gradle/buildOutputCleanup/built.bin
JDI/jdi-uitest-web/.gradle/3.4.1/taskHistory/taskHistory.lock
JDI/jdi-uitest-web/.gradle/3.4.1/taskHistory/taskHistory.bin
JDI/jdi-uitest-web/.gradle/3.4.1/taskHistory/fileSnapshots.bin
JDI/jdi-uitest-web/.gradle/3.4.1/taskHistory/fileHashes.bin
JDI/jdi-uitest-web/.gradle/3.4.1/file-changes/last-build.bin
JDI/.gradle/buildOutputCleanup/cache.properties.lock
JDI/.gradle/buildOutputCleanup/cache.properties
JDI/.gradle/buildOutputCleanup/built.bin
JDI/.gradle/3.4.1/taskHistory/taskHistory.lock
JDI/.gradle/3.4.1/taskHistory/taskHistory.bin
JDI/.gradle/3.4.1/taskHistory/fileSnapshots.bin
JDI/.gradle/3.4.1/taskHistory/fileHashes.bin
JDI/.gradle/3.4.1/file-changes/last-build.bin
